<template>
  <div class="wrap">
    <div class="page">
      <slot name="header"  >
        <Header/>
      </slot>
      <slot name="content">
      </slot>
      <slot name="footer">
        <common-footer/>
      </slot>
    </div>
  </div>
</template>

<style scoped>
.wrap{
  width: 100%;
  background-color: #1E1E1E;;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.page {
  max-width: 2000px;
  margin: auto;
  background-color: transparent;
  padding: 0 ;
  color: white;

}

</style>
<script>
import Header from "~/components/Common/Header";
export default {
  components: {Header}
}
</script>
