<template>
  <nav class="flex items-center justify-between flex-wrap bg-teal-500 p-6">
    <div class="block lg:hidden">
      <button class="flex items-center px-3 py-2 border rounded text-teal-200 border-teal-400 hover:text-white hover:border-white">
        <svg class="fill-current h-3 w-3" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><title>Menu</title><path d="M0 3h20v2H0V3zm0 6h20v2H0V9zm0 6h20v2H0v-2z"/></svg>
      </button>
    </div>
    <div class="w-full block flex-grow lg:flex lg:items-center lg:w-auto">
      <div class="main-header text-sm lg:flex-grow">
        <a href="#responsive-header" class="uppercase block mt-4 lg:inline-block lg:mt-0 text-teal-200 hover:text-white mr-4">
          action
        </a>
        <a href="#responsive-header" class="uppercase block mt-4 lg:inline-block lg:mt-0 text-teal-200 hover:text-white mr-4">
          comedy
        </a>
        <a href="#responsive-header" class="uppercase block mt-4 lg:inline-block lg:mt-0 text-teal-200 hover:text-white mr-4">
          drama
        </a>
        <a href="#responsive-header" class="uppercase block mt-4 lg:inline-block lg:mt-0 text-teal-200 hover:text-white mr-4">
          fantasy
        </a>
        <a href="#responsive-header" class="uppercase block mt-4 lg:inline-block lg:mt-0 text-teal-200 hover:text-white mr-4">
          romance
        </a>
        <a href="#responsive-header" class="uppercase block mt-4 lg:inline-block lg:mt-0 text-teal-200 hover:text-white mr-4">
          schoollife
        </a>
        <a href="#responsive-header" class="uppercase block mt-4 lg:inline-block lg:mt-0 text-teal-200 hover:text-white mr-4">
          supernatural
        </a>
        <a href="#responsive-header" class="uppercase block mt-4 lg:inline-block lg:mt-0 text-teal-200 hover:text-white mr-4">
          shoujo
        </a>
        <a href="#responsive-header" class="uppercase block mt-4 lg:inline-block lg:mt-0 text-teal-200 hover:text-white mr-4">
          shounen
        </a>
      </div>

    </div>
  </nav>
</template>

<script>
export default {
  name: "IndexMainMenu"
}
</script>

<style scoped>
.main-header{
  margin: 0 auto;
}
</style>
