<template>
<div class="main-content">

</div>
</template>

<script>
export default {
  name: "MainContent"
}
</script>

<style scoped>
.main-content{
  height: 800px;
  background-color: white;
}
</style>
