<template>
  <div class="number">
    <h2>Stats</h2>
    <div class="number__content">
      <div class="number__item">
        <p class="counter">3500</p>
        <p>Clients</p>
      </div>
      <div class="number__item">
        <p class="counter">650</p>
        <p>Plans</p>
      </div>
      <div class="number__item">
        <p class="counter">1021</p>
        <p>Projects</p>
      </div>
      <div class="number__item">
        <p class="counter">1010</p>
        <p>Likes</p>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: "stats"
}
</script>

<style scoped>
/* Number  */
.number {
  text-align: center;
  background-color: #00cdce;
}
.number h2 {
  padding: 50px 0;

  letter-spacing: 1px;
}
.number__content {
  display: flex;
  justify-content: space-evenly;
  padding-bottom: 50px;
}
.number__content .number__item .counter {
  color: white;
  font-size: 4rem;
  padding-bottom: 20px;
}
.number__content .number__item {
  font-size: 1.5rem;
  letter-spacing: 4px;
}
</style>
