<template>
<div class="wrapper">
  <div class="page">
    <slot name="header">
      <DashboardNavHeader></DashboardNavHeader>
    </slot>
    <slot name="content">
      <DashboardCarousel></DashboardCarousel>
<!--      <div>content</div>-->
    </slot>

  </div>
</div>
</template>

<script>
export default {
  name: "dashboards"
}
</script>

<style scoped>
.wrapper{
  width: 100%;
  background-color: yellow;;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Rubik, sans-serif;

}
.page {
  max-width: 1440px;
  margin: auto;
  background-color: transparent;
  padding: 0 135px;
}

</style>
